<h1 class="mt-3">Pipes <small>Angular</small></h1>
<hr>




<div class="row">
    <div class="col">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th>Variable</th>
                    <th>Pipe</th>
                    <th>Salida</th>
                </tr>
            </thead>

            <tbody>
                <!--UPPERCASE MAYUSCULA-->
                <tr>
                    <td>{{nombre}}</td>
                    <td> uppercase</td>
                    <td>{{nombre | uppercase}}</td>
                </tr>


                <!--lowercase minuscula-->
                <tr>
                    <td>{{nombre}}</td>
                    <td> lowercase</td>
                    <td>{{nombre | lowercase}}</td>
                </tr>

                <!--Slice-->
                <tr>
                    <td>{{nombre}}</td>
                    <td> slice:3</td>
                    <td>{{nombre | slice:3}}</td>
                </tr>

                <tr>
                    <td>{{nombre}}</td>
                    <td> slice:0:3</td>
                    <td>{{nombre | slice:0:3}}</td>
                </tr>

                <!--Slice para arreglos-->
                <tr>
                    <td>{{arreglo}}</td>
                    <td> slice:1:5</td>
                    <td>{{arreglo | slice:1:5}}</td>
                </tr>

                <!--Slice para lista-->
                <table>

                    <h4>Slice</h4>
                    <ul>
                        <li *ngFor="let item of arreglo | slice:5:20"> {{ item }}</li>
                    </ul>
                </table>

                <!--Decimal-->
                <tr>
                    <td>{{PI}}</td>
                    <td> number:'1.0-0' </td>
                    <td>{{PI | number:'1.0-0'}}</td>
                </tr>

                <!--  Porcentaje-->
                <tr>
                    <td>{{porcentaje}}</td>
                    <td> percent </td>
                    <td>{{ porcentaje | percent}}</td>
                </tr>


                <tr>
                    <td>{{porcentaje}}</td>
                    <td> percent:'2.2-2'</td>
                    <td>{{ porcentaje | percent:'2.2-2'}}</td>
                </tr>

                <!--  Moneda-->

                <tr>
                    <td>{{salario}}</td>
                    <td> currency</td>
                    <td>{{ salario | currency}}</td>
                </tr>

                <tr>
                    <td>{{salario}}</td>
                    <td> currency:'COP'</td>
                    <td>{{ salario | currency:'COP'}}</td>
                </tr>

                <tr>
                    <td>{{salario}}</td>
                    <td> currency:'COP$':'symbol':'.0-0'</td>
                    <td>{{ salario | currency:'COP$':'symbol':'.0-0'}}</td>
                </tr>


                <!--  Json-->

                <h3>JSON</h3>
                <hr>
                <div class="row mb-5">
                    <div class="col">
                        <pre>
                          {{heroe | json }}
                        </pre>
                    </div>
                </div>

                <!--  Async--->
                <tr>
                    <td>{{ valorPromesa }}</td>
                    <td> async </td>
                    <td>{{ valorPromesa | async }}</td>
                </tr>

                <!--  Date--->
                <tr>
                    <td> date: 'medium' </td>
                    <td>{{ fecha | date: 'medium' }}</td>
                </tr>

                <tr>
                    <td>{{ fecha }}</td>
                    <td> date: 'short' </td>
                    <td>{{ fecha | date: 'short' }}</td>
                </tr>

                <tr>
                    <td>{{ fecha }}</td>
                    <td> date: 'MMM -dd' </td>
                    <td>{{ fecha | date: 'MMM -dd' }}</td>
                </tr>

                <!--Para colocar la fecha en ingles-->
                <tr>
                    <td>{{ fecha }}</td>
                    <td>
                        date: 'MMM -dd': '':'{{idioma}}'
                        <br>
                        <button (click)="idioma='es'" class="mr-1 btn btn-primary">Español</button>
                        <button (click)="idioma='en'" class="mr-1 btn btn-secondary">Ingles</button>
                        <button (click)="idioma='fr'" class="mr-1 btn btn-success">Frances</button>
                    </td>
                    <td>{{ fecha | date: 'MMM -dd':'':idioma}}</td>
                </tr>


                <!--Capitalizar Palabras-->
                <tr>
                    <td>{{nombre2}}</td>
                    <td> capitalizado </td>
                    <td>{{nombre2 | capitalizado: false }}</td>
                </tr>


                <!--pipes personalizado: Domseguro-->
                <h3 class="mt-4">Domseguro</h3>
                <hr>
                <div class="row mb-5">
                    <div class="col">
                        <iframe width="560" height="315" [src]="videoUrl | domseguro" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
                        </iframe>
                    </div>
                </div>


                <tr>
                    <td>{{ nombre }}</td>
                    <td> contrasena:{{activar}}
                        <br>
                        <button class="btn btn-outline-primary" (click)="activar =!activar">
                            activar/Desactivar
                        </button>
                    </td>
                    <td> {{ nombre | contrasena:activar }}</td>

                </tr>
            </tbody>
        </table>
    </div>
</div>